/*
	My Colors:

	TIDY BLUE = #19345F
	TIDY RED = #C83539

*/

/* Global */
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #8a8683;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
.omega{
	margin-right: 0;
}

/* Tidy Logo */
#logo {
	text-align: center;
	margin: 10px 0;
}

/* Just For Fun Logo Rotation on Hover */
#logo:hover{
	-webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* Navigation */
.menu {
	margin-top: -15px;
	position:fixed;
	top:0px;
	width:100%; 
	height:70px; 
	background-color:#ffffff;
	z-index:100;
	-webkit-box-shadow: 0px 0px 4px 0px #000000;
       -moz-box-shadow: 0px 0px 4px 0px #000000;
            box-shadow: 0px 0px 4px 0px #000000;

}
#nav {
	text-align: right;
	margin: 30px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: left;
	padding:0 0 0 50px;
}
.navigation li:hover{
	cursor:pointer;
	color: #19345F;
}

.navigation .active{
	cursor:pointer;
	color: #C83539;
	font-weight:bold;
}
/* Sign In Button */
#signinbtn{
	padding: 8px 25px;
	background-color: #19345F;
	margin-left: 50px;
	margin-top: -7px;
	color: #ffffff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#signinbtn:hover{
	background-color: #2F5FA5;
}


/* General Slides */ 
.slide{
	background-attachment: fixed;
	width:100%;
	height:400px;
	position: relative;
	padding:160px 0;
}


/* Slide 1 */ 
#slide1{
	background-image: url('../images/brick.jpg');
	color: #ffffff;
}
#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide1 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

/* CTA */
#ctaImage{
	margin-right: 0px;
}
#ctaCaption{
	font-size: 5em;
}
#slide1 p{
	font-size: 2em;
	padding-top: 20px;
}
#button{
	margin-top: 55px;
	margin-right: 60px;
	margin-left: 0;
	padding: 15px 80px;
	border-radius: 25px;
	color: #ffffff;
	background-color: #C83539;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
#button:hover{
	background-color: #E5414D;
}

/* Slide 2 */ 
#slide2{
	
	background-color:#ffffff;
	color:#8a8683;
}
#slide2 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#19345F;
	font-weight: 700;
	padding-top: 20px;
}
#slide2 h2 {
	font-size: 2em;
	color: #C83539;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

/* Slide 3 */ 
#slide3{
	background-image:url('../images/tidybg.png');
}
#slide3 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide3 h2 {
	padding-top: 20px;
	font-size: 2.4em;
	color: #19345F;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#slide3 h3 {
	font-size: 1em;
	color: #19345F;
	line-height: 0px;
	padding-bottom:20px;
	text-align: center;
	
}
#test{
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}

/* Slide 4 */
#slide4{
	background-image:url('../images/thumbs-up.jpg');
	background-color:#ffffff;
	color:#ffffff;
}
#slide4 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide4 h2 {
	font-size: 2.3em;
	color: #E5A24A;
	line-height: 0px;
	padding-bottom:10px;
	font-weight: 400;
	text-align: center;
	margin-top: 225px;
}


/*Sign up Page*/
#container {
	width: 340px;
	height: 280px;
	top: 50%;
	left: 50%;
	margin-top: 90px;
	margin-left: -170px;
}

form {
    margin-left: 20px;
    margin-top: 20px;
}
label {
    color: #555;
    display: inline-block;
    margin-left: 80px;
    padding-top: 10px;
    font-size: 18px;
    width: 225px;
}

}
input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px;
    outline: none;
}
input[type=text],
input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 80px;
    width: 290px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    
}
input[type=submit] {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
}

.about{
	text-align: center;
}

.signup{
	margin-top: 20px;
	margin-bottom: 30px;
}

.signupbtn{
	margin-top: 125px;
	margin-right: 60px;
	margin-left: 100px;
	padding: 15px 120px;
	border-radius: 25px;
	color: #ffffff;
	background-color: #C83539;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.signupbtn:hover{
	background-color: #E5414D;
}



#signinform input[type=text]{
	color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 80px;
    width: 350px;
    height: 45px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    font-size: 25px;

}
#signinform input[type=password]{
	color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 0px;
    width: 350px;
    height: 45px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    font-size: 25pt;

}
#signinform input[type=checkbox]{
	color: #777;
    margin-left: 80px;
    margin-right: 25px;
    margin-top: 20px;
    width: 25px;
    height: 25px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;

}
#signinform label{
	color: #ffffff;
	font-size: 1.5em;
	margin-left: 0px;


}

#emaillabel{
	padding-left: 80px;
}

.signinbutton{
	margin-top: 25px;
	margin-right: 60px;
	margin-left: 20px;
	padding: 15px 155px;
	border-radius: 25px;
	color: #ffffff;
	background-color: #C83539;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.signinbutton:hover{
	background-color: #E5414D;
}



/*
/////////////////////
	MEDIA QUERIES
/////////////////////
*/

/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
	padding:0;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#decorative {
	display:none;
}

#content {
	text-align:center;
	width:100%;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

/* Mobile */
@media screen and (max-width: 480px) {

#logo {
	width: 100%;
	text-align: center;
}
#nav {
	width:100%;
	margin:5px 0;
}
.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}
.navigation li{
	float: left;
	width:25%;
}
.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}
#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}







